<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <!-- <div class="wrapper"> -->
        <!--   <div class="main-column"> -->
        <!--     {{- block "main" . }}{{- end }} -->
        <!--   </div> -->
        <!--   <div class="side-column"> -->
        <!--     {{- partial "sidebar.html" . -}} -->
        <!--   </div> -->
        <!-- </div> -->

        <!-- <div class="container"> -->
          <div class="row">
            <!-- <div class="column is-one-fifth"></div> -->
            <div class="side-column">
            </div>

            <div class="main-column">
            {{- block "main" . }}{{- end }}
            </div>
            <!-- <div class="side-column"> -->
            <!-- {{- partial "sidebar.html" . -}} -->
            <!-- </div> -->
            <!-- <div class="column is-one-fifth"></div> -->
            <div class="side-column">
              {{- block "sidebar" . }}{{- end }}
            </div>

          </div>

          <!-- <footer> -->
          <!--   {{- block "footer" .}}{{- end }} -->
          <!-- </footer> -->

        <!-- </div> -->
        <footer>
        {{- partial "page-footer.html" . -}}
        </footer>
        {{- partial "footer.html" . -}}
    </body>
</html>
