/* Pragma.css */


html {
    font-size: 16px;
    height: 100%;
}

body {
    font-size: 1.0em;
    /* font-weight: 300; */
    color: #111111;
    /* padding-left: 0.5em; */
    /* padding-right: 0.5em; */
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
    /* letter-spacing: 0.01em; */
    line-height: 1.6;
    /* min-height: 100%; */
    /* position: relative; */
    /* padding-bottom: 15rem; */
    overflow-x: hidden;
}

.main-column {
    padding: 0 1.0em;
}

.side-column {
    padding-left: 0.5em;
}


p {
    /* font-family: 'Spectral', sans-serif; */
    /* margin-top: 0; */
}

a {
    color: #89098a;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #555;
    outline: none;
}

/* a:hover { */
/*     font-weight: bold; */
/* } */

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: -.03em;
    margin-bottom: 0em;
    margin-top: 0.5em;
    /* color: #444; */
    font-family: "Noto Serif", Serif;
    /* font-weight: 300; */
}

h1 {
    font-size: 2.0em;
    margin-bottom: 1px;
    line-height: 1.2;
    color: #111111;
}

h2 {
    font-size: 1.7em;
    margin-top: 0.8em;
    line-height: 1.25;
}

h3 {
    font-size: 1.45em;
    line-height: 1.3;
}

h4 {
    font-size: 1.25em;
    letter-spacing: -0.08rem;
    line-height: 1.35;
}

h5 {
    font-size: 1.1em;
    letter-spacing: -.05rem;
    line-height: 1.5;
}

h6 {
    font-size: 1.0em;
    letter-spacing: 0;
    line-height: 1.4;
}


/* Code */
code {
    font-family: "Inconsolata", sans-serif;
}

pre {
    /* font-family: "Inconsolata", sans-serif; */
    font-size: 86%;
    margin: 0 .2rem;
    padding: .2rem .5rem;
    white-space: nowrap;
    border-radius: 0.4em;
    line-height: 1.4em;
    border-left: 0.1rem solid #8a8a96;
    overflow-y: hidden;
}


pre > code {
    display: block;
    padding: 1em 0.5em;
    white-space: pre;
}


/* hr */
hr {
    border: 0;
    /* width: 88%; */
    border-top: 0.1rem solid #dddddd;
    margin: 3.0rem auto 3rem auto;
}


/* list */
ul {
    margin-top: 0;
    padding-left: 0;
}

/* Categories */
.cat-button {
    background-color: #24435c;
    border: none;
    color: #eeeeee;
    padding: 0px 4px 0px 4px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    /* border-radius: 1px; */
}




img {
    width: 100%;
}

.read-more {
    color: black;
    background-color: white;
    border: 1px solid;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.read-more-button {
    background-color: #e6e6fa;
    border: none;
    color: #555;
    padding: 8px 8px 8px 8px;
    margin: 0px 2px 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 12px;

}

.read-more-div {
    /* margin-left: 20rem; */
    text-align: center;
    padding-bottom: 2em;
    padding-top: 0.8em;
}

.cat-tag {
    text-align: right;
}

.categories-post-home {
    text-align: center;
}

div#site-title-subtitle {
    text-align:center;
    padding-top: 2.5rem;
    /* padding-bottom: 8rem; */
    margin-bottom: 3em;
    line-height: 2rem;
    /* background-color: #333; */
    /* background-color: #a0522d; */
    background-color: #09092a;
    color: white;
}

#site-subtitle {
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 0.9em;
}

#site-title a {
    /* font-family: "Comic Sans MS", cursive, sans-serif; */
    font-family: "Playfair Display", serif;
    font-size: 3.5em;
    letter-spacing: -0.01em;
    text-align: center;
    color: white;
}

time.published {
    font-style: italic;
    color: #666666;
    padding-bottom: 2px;
}

time.mini-published {
    display: block;
    font-style: italic;
    font-size: 14px;
    color: #666666;
    padding: 3px 0px 5px 0px;
    margin-bottom: 5px;
}


.post-author {
    font-size: 0.8em;
    padding-left: 3ex;
    color: #666666;
}

.center {
    text-align: center;
}

.alignleft {
    margin-right: auto;
}

ul.post-categories li, ul.mini-post-categories li {
    display: inline;
}

ul.post-categories, ul.mini-post-categories {
    list-style-type: none;
    margin-bottom: 0px;
    padding-left: 0;
}

ul.post-categories {
    padding-bottom: 5px;
}

ul.post-categories a:hover {
    color: #fff;
    font-weight: bold;
}

ul.mini-post-categories a:hover {
    color: #fff;
    font-weight: bold;
}


ul.mini-post-categories {
    margin-top: 0px;
    padding-bottom: 5px;
}


.post-title-header {
    margin-top: 2em;
    margin-bottom: 2em;
}

h1.mini-post-title {
    font-size: 1.7em;
    padding: 0px;
    margin-bottom: 10px;
}

h1.post-title,
h1.about-title,
h1.contact-title {
    padding-top: 0px;
    /* font-size:  */
    margin: 0em 0.5em 0em 0.5em;
}

/* h1.post-title a { */
/*     color: #111111; */
/* } */

h1.post-title a,
h1.mini-post-title a,
h1.about-title a,
h1.contact-title a {
    color: #111111;
}

/* p:first-of-type:first-letter { */
/*     display: block; */
/*     margin: 5px 0px 0px 5px; */
/*     float: left; */
/*     font-family: "Georgia"; */
/*     font-size: 8rem; */
/* } */



/* Larger than mobile screen */
/* @media (min-width: 40.0rem) { */
/*     .wrapper { */
/*         flex-direction: column; */
/*     } */
/* } */


/* } */

/* Larger than tablet screen */
/* @media (min-width: 80.0rem) { */
/* } */

/* Larger than desktop screen */
/* @media (min-width: 120.0rem) { */
/* } */

.page-copyright {
    text-align: center;
}


/* Social sharing */
ul.social-sharing {
    list-style-type: none;
}

ul.social-sharing li {
    display: inline;
    padding: 0.3rem;
}

ul.social-sharing .fab {
    font-size: 2rem;
    color: #555;
}

.toc-side {
    display: none;
    position: sticky;
    max-width: 300px;
    top: 2em;
    /* border: 1px solid black; */
    over-flow-y: auto;
    max-height: 85%;
    font-size: 0.9em;
    /* right: 20%; */
    /* border-left: 3px solid #8b2200; */
}

.toc-side a {
        color: #777;
}

.toc-side nav>ul {
    padding-top: 3em;
    padding-left: 0;
}

.toc-side li {
    list-style: none;
}

.toc-side ul li > ul li > ul{
    padding-left: 1.0em;
}

.toc-side ul > li {
    margin-bottom: 0.4em;
}

.toc-side ul {
    padding-left: 0em;
}

.toc-side .back-to-top {
    font-size: 0.8em;
    padding-left: 0em;
}

.toc-side a.current {
    /* color: #09095a; */
    color: #1e85ae;
    font-weight: bold;
}

.toc-side a:hover {
    color: #1e85ae;
    font-weight: bold;
}

.toc-inline {
    max-width: 70%;
    margin: 3px auto 50px auto;
    padding-top: 5px;
    padding-left: 15px;
    border: 1px dashed brown;
    display: none;
}

.toc-inline li {
    list-style-type: none;
}

.toc-inline li > ul {
    padding-left: 30px;
}

.toc-inline li > ul li {
    list-style-type: circle;
}

.toc-inline .toc-title {
    font-weight: bold;
}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    /* background-color: #ddd; */
    font-weight: bold;
}

.botnav {
    /* background-color: #800000; */
    /* color: #300000; */
    color: #73737d;
    text-align: center;
    /* padding: 0; */
    font-size: 15px;
    padding: 3px 3px 3px 3px;
    /* position: absolute; */
    /* /\* width: 60px; *\/ */
    /* bottom: 0; */
    /* right: 0; */
    /* left: 0; */
}

.botnav a {
    /* float: center; */
    color: #73737d;
    text-align: center;
    padding: 14px 16px;
    /* font-size: 15px; */
    margin-top: 5em;
}
.botnav a:hover {
    font-weight: bold;
}

.social-sharing {
    margin-bottom: 1em;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}


.social .fab {
    color: #09092a;
    font-size: 1.5em;
    margin-top: 0.5em;
}

a.nomargin {
    margin: 0;
    padding: 0;
}

/* Add a color to the active/current link */
/* .topnav a.active { */
/*     background-color: #4CAF50; */
/*     color: white; */
/* } */

/* for 404 error */
.not-found-error {
    margin-bottom: 31em;
}

.all-taxo, .all-tags {
    margin-bottom: 10em;
}


.about-title, .contact-title {
    text-align: center;
    margin-bottom: 1.5em;
}

.about-content {
    /* margin-bottom: 20em; */
}

.contact-form {
    text-align: right;
    margin-top: 2em;
}

.contact-form input {
    display: block;
    width: 95%;
    padding: 0.5em;
    margin: 0 auto 0.5em auto;
}

.contact-form textarea {
    display: block;
    width: 95%;
    height: 20em;
    padding: 0.5em;
    margin: 0 auto 0.5em auto;
}

.contact-form button {
    background-color: #e6e6fa;
    border: none;
    color: #555;
    padding: 8px 8px 8px 8px;
    margin: 0px 0px 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 14px;

}


.footnotes {
    font-size: 80%;
    color: #888;
}

.footnotes ol {
    padding-left: 2em;
    padding-right: 2em;
}

/* From https://discourse.gohugo.io/t/footnote-styling/114/7 */

a[href^="#fn:"],
a[href^="#fnref:"] {
    text-decoration: none;
    color: #FF8000;
    font-family: monospace;
}

a[href^="#fnref:"] {
    font-size: 1.5em;
}

a[href^="#fn:"]:before{ content: '[' }
a[href^="#fn:"]:after{ content: ']' }


/* Mathjax */
.MJXc-display {
    overflow-x: scroll;
    /* font-size: 0.1em; */
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {
}

/* Larger than tablet screen */
@media (min-width: 1025px) {
    body {
        /* font-size: 1.1em; */
        /* font-weight: 300; */
        /* color: #111111; */
        /* padding-left: 0.5em; */
        /* padding-right: 0.5em; */
        /* font-family: 'Spectral', sans-serif; */
        /* padding: 0; */
        /* margin: 0; */
        /* letter-spacing: 0.01em; */
        line-height: 1.6;
        /* min-height: 100%; */
        /* position: relative; */
        /* padding-bottom: 15rem; */
    }

    .row {
        flex-direction: row;
        /* margin-left: -1.0rem; */
        /* width: calc(100% + 2.0rem); */
    }

    .main-column {
        width: 730px;
        position: relative;
        margin: 0 auto 0 auto;
        padding: 1em;
        /* padding-right: 1.5rem; */
    }

    .side-column {
        width: 380px;
        padding-left: 0em;
        margin: 0 auto 0 0;
        /* position: sticky; */
        /* top: 0; */
        /* border-left: 1px solid #bbbbbb; */
    }

    /* Code */
    pre {
        border-left-width: 3px;
    }

    pre > code {
        padding-left: 15px;
    }

    .toc-side {
        display: block;
    }

    .toc-inline {
        display: none;
    }

    /* Mathjax */
    .MJXc-display {
        overflow: hidden;
    /* font-size: 0.1em; */
}


}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {
}
