<div id="site-title-subtitle">
<span id="site-title">
  <a href="{{ .Site.BaseURL }}">{{- .Site.Title -}}</a>
</span>
<br>
  {{ with .Site.Params.description }}
<span id="site-subtitle">{{- . -}}</span>
{{ end }}

 <div class="topnav">
  <a href="{{ .Site.BaseURL }}">Home</a>
  <a href="{{ .Site.BaseURL }}/contact">Contact</a>
  <a href="{{ .Site.BaseURL }}/about">About</a>
</div>

</div>
